<div ng-controller="MainCtrl">
  <div class="hero-unit">
    <div class="headline">
      <h1>Welcome to "Up To Us</h1><h5>&#xa9;</h5><h1>"</h1>

    </div>

    <p>This is a super awesome community around ecological wellbeing</p>
  </div>
  <div style="height: 305px">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <!-- <h4>Slide {{slide.id}}</h4> -->
          <p>{{slide.text}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
      <button type="button" class="btn btn-info" ng-click="randomize()">Randomize slides</button>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="noWrapSlides">
          Disable Slide Looping
        </label>
      </div>
    </div>
    <div class="col-md-6">
      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number or 0 to stop the interval.
    </div>
  </div> -->
</div>
<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->

<div class="row marketing row-fluid col-md-4" ng-repeat="block in content">
           <img class="img-circle" ng-src="{{block.img}}">
           <h3>{{block.title}}</h3>
           <p>{{block.summary}} </p>
</div>
